.GoogleLogo{
	margin-top: 150px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 400px;
	height: 160px;
	position: relative;
}

.SearchBar{
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 600px;
	height: 30px;
	position: relative;
	background-color: green;
}

.SearchBar input{
	width: 100%;
	height: 100%;
	font-size: 18px;
	font-family: Verdana, Courier;
}

.Buttons{
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 610px;
	height: 40px;
	position: relative;
}

.Buttons .SearchButtonContainer{
	width: 21%;
	height: 60%;
	background-color: #ebeaeb;
	text-align: center;
	padding-top: 9px;
	position: absolute;
	left: 162px;
	border-radius: 2px;
    font-family: arial,sans-serif;
	color: #757575;
	font-size: 13px;
}

.Buttons .RandomButtonContainer{
	width: 25%;
	height: 60%;
	background-color: #ebeaeb;
	text-align: center;
	padding-top: 9px;
	position: absolute;
	left: 310px;
	border-radius: 2px;
    font-family: arial,sans-serif;
	color: #757575;
	font-size: 13px;
}

.Buttons .SearchButtonContainer .SearchButton{
	width: 99%;
	height: 99%;
}

.Buttons .RandomButtonContainer .RandomButton{
	width: 99%;
	height: 99%;
}

.LinkButtonBox:hover .RandomButtonContainer{
	background-color: #efeeef;
	box-shadow: 0px 1px 2px 1px #ebeaeb;
	color: black;
	border-style: solid;		
    border-width: 1px;			
    border-color: #d7d6d7;			
    border-radius: 2px;
    height: 58%;
    padding-top: 8px;
}

.LinkButtonBox:hover .SearchButtonContainer{
	background-color: #efeeef;
	box-shadow: 0px 1px 2px 1px #ebeaeb;
	color: black;
	border-style: solid;		
    border-width: 1px;			
    border-color: #d7d6d7;			
    border-radius: 2px;
    height: 58%;
    padding-top: 8px;
}

.RandomText{
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 610px;
	height: 40px;
	position: relative;
	text-align: center;
	font-size: 14px;
	font-family: Tahoma;
}

.RandomText .RandomTextLink{
	color: blue;
	text-decoration: none;
}

.RandomText .RandomTextLink:hover{
	text-decoration: underline;
}

.NavBarContainer{
	height: 50px;
	margin-bottom: 10px;
}

.NavBarContainer .AnyLinkDiv{
	width: 2%;
	height: 100%;
	display: inline-block;
	float: right;
	position: relative;
	min-width: 50px;
}

.NavBarContainer div a{
	color: #000;
	opacity: .75;
	text-decoration: none;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: arial,sans-serif;
    font-size: 13px;
}

.NavBarContainer .AnyLinkDiv .NavLinks:hover{
	text-decoration: underline;
}

.NavBarContainer .AnyLinkDiv .NavLinks{
	opacity: .75;
}

.Footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  height: 40px;
}

.FooterContainerLeft{
	height: 100%;
	width: 50%;
	position: relative;
	float: left;
}
.FooterContainerRight{
	height: 100%;
	width: 50%;
	position: relative;
	float: right;
}

.BottomLinksRight{
	width: 5%;
	height: 100%;
	display: inline-block;
	float: right;
	position: relative;
	min-width: 50px;
	padding-right: 30px;
}

.BottomLinksRight a{
	color: #757575;
	opacity: .75;
	text-decoration: none;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: arial,sans-serif;
    font-size: 13px;
}

.BottomLinksRight a:hover{
	text-decoration: underline;
}

.BottomLinksLeft{
	width: 5%;
	height: 100%;
	display: inline-block;
	float: left;
	position: relative;
	min-width: 50px;
	padding-left: 30px;
}

.BottomLinksLeft a{
	color: #757575;
	opacity: .75;
	text-decoration: none;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: arial,sans-serif;
    font-size: 13px;
}

.BottomLinksLeft a:hover{
	text-decoration: underline;
}